# Logs
*.log
# Coverage directory (tests with coverage)
coverage/
# Bundles
dist/

.DS_Store
.eslintcache
*.tsbuildinfo

# yarn cache and packages for zero install
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Python
__pycache__/
*.py[cod]
*$py.class
